{% extends 'base.html.twig' %}

{% block title %}Morceaux{% endblock %}
{% block body %}
 <div class="container mt-4">
    <h1>Mes Morceaux</h1>
    <p>Il y a {{morceaux.getTotalItemCount}} morceaux au total</p>
    <a href="{{ path('morceaux.new')}}" class="btn btn-primary mt-4">Ajouter un morceau</a>
    
 <table class="table table-hover">
{% if is_mobile() %}
  <thead><tr><td align="center" scope="col"><b>Morceaux</b></td></tr></thead>
{% else %}
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Artiste(s)</th>
      <th scope="col">Titre</th>
      <th scope="col">Date de sortie</th>
      <th scope="col">Fichier Son</th>
      <th scope="col">Genre</th>
      <th scope="col">Suppression</th>
    </tr>
  </thead>
{% endif %}
  <tbody>
    {% for morceau in morceaux %}
      {% if is_mobile() %}
        {% if vich_uploader_asset(morceau, 'imageFile') is not null %}
        <tr class="table-primary">
          <td align="center" valign="middle"><img width="100px" src="{{vich_uploader_asset(morceau, 'imageFile')}}"/></td>
        </tr>
        {% endif %}
    <tr class="table-primary">
      <td align="center" valign="middle"><i>{{morceau.artiste}}</i></br>
      {{morceau.nomMorceaux}}</td>
    </tr>
    <tr class="table-primary">
      <td align="center" valign="middle">{{morceau.dateSortie|date('d/m/Y')}}</br>
      <audio controls src="{{vich_uploader_asset(morceau, 'musicFile')}}"></audio></td>
    </tr>
    <tr class="table-primary">
      <td align="center" valign="middle">{{morceau.genreid}}</td>
    </tr>
    <tr class="table-primary">
      <td align="center" valign="middle">
        <a href="{{ path('morceaux.delete', { id : morceau.id }) }}" class="btn btn-warning">Supprimer</a>
      </td>
    </tr>
      {% else %}
    <tr class="table-primary">
      <td><img width="50px" src="{{vich_uploader_asset(morceau, 'imageFile')}}"/></td>
      <td><i>{{morceau.artiste}}</i></td>
      <td>{{morceau.nomMorceaux}}</td>
      <td>{{morceau.dateSortie|date('d/m/Y')}}</td>
      <td><audio controls src="{{vich_uploader_asset(morceau, 'musicFile')}}"></audio></td>
      <td>{{morceau.genreid}}</td>
      <td>
        <a href="{{ path('morceaux.delete', { id : morceau.id }) }}" class="btn btn-warning">Supprimer</a>
      </td>
    </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(morceaux) }}
</div>
 </div>
{% endblock %}







{# 

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomMorceaux</th>
                <th>DateSortie</th>
                <th>Artiste</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for morceaux in morceauxes %}
            <tr>
                <td>{{ morceaux.id }}</td>
                <td>{{ morceaux.nomMorceaux }}</td>
                <td>{{ morceaux.dateSortie ? morceaux.dateSortie|date('Y-m-d') : '' }}</td>
                <td>{{ morceaux.artiste }}</td>
                <td>
                    <a href="{{ path('app_morceaux_show', {'id': morceaux.id}) }}">show</a>
                    <a href="{{ path('app_morceaux_edit', {'id': morceaux.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_morceaux_new') }}">Create new</a>    
#}