{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h3>Mes informations</h3>

        <table class="table mt-4">
            {% if is_mobile() %}
                <tr>
                    <th>Email</th>
                </tr>
                <tr>
                    <td align="center">{{ app.user.email }}</td>
                </tr>
                <tr>
                    <th>Nom et Prénom</th>
                </tr>
                <tr>
                    <td align="center">{{ app.user.nom }} {{ app.user.prenom }}</td>
                </tr>
                <tr>
                    <th>Rôle(s)</th>
                </tr>
                <tr>
                    <td align="center">{{ app.user.roles ? app.user.roles|json_encode : '' }}</td>
                </tr>
            {% else %}
                <tr>
                    <th>Email</th>
                    <th>Nom et Prénom</th>
                    <th>Rôle(s)</th>
                </tr>
            
                <tr>
                    <td>{{ app.user.email }}</td>
                    <td>{{ app.user.nom }} {{ app.user.prenom }}</td>
                    <td>{{ app.user.roles ? app.user.roles|json_encode : '' }}</td>
                    <td>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}
    
    

